*{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}
body{
	text-align: center; 
	position: relative;
}
div.header4{
	margin: 0 auto;
	background: #EBCB80 url("../image/Background.png") ;
	background-size:100% 100%;
	padding-top: 256px;
	width: 1440px;
	height: 768px;
	background-size:cover;
	text-align: center;
	display: block;
	opacity:1;
	/* opacity: 50%; */
	
}
p.content1{
	/* letter-spacing: 3.64px; */
	font: 44px Roboto;
}
p.content2{
	/* letter-spacing: 3.64px; */
	font: 16px Roboto;
}
.header4 input{
	padding-left:10px;
	width: 270px;
	height: 48px;
	font: 16px Roboto;
}
.header4 button{
	margin-left:18px;
	width:198px ;
	height:48px ;	
	border-radius:50px;
	border: 2px solid #4B4B4B;
}
table.icon td button{
	width: 80px;
	height: 80px;
	margin: 5px 25px 5px 25px;
}
.icon .plane{
	background:#4B4B4B url("../image/Plane.png") center no-repeat;
	
}
.icon .wallet{
	background:#4B4B4B url("../image/Wallet.png") center no-repeat;
	
}
.icon .case{
	background:#4B4B4B url("../image/Case.png") center no-repeat;
	
}