.nav-bg{
	background: #4B4B4B;
	width: 1440px;
	height: 156px;
	display:inline-block;
	position: relative;
}
p.text1{
	font-variant:small-caps;
	font-family: Roboto;
	font-size: 36px;
	line-height:42px;
	text-align:center;
	/* letter-spacing: 5.55%;khoang cach giua cac chu
	font-style:regular; */  
	color:#EBCB80;
	top:55px;
	margin-left:5%;
	width: 191px;
	height: 43px;
	
}
nav nav{
	position:absolute;
	width: 318px;
	height: 22px;
	right:356px;
	top:67px;
	
}
nav nav a{
	padding-right:23px;
	font:18px Roboto;
	text-align:left;
	display:inline;
	color:#FFFFFF;
	text-decoration: blink;/* xóa dấu gạch dưới ở thẻ a */
}
.take-a-tour-button{
	position:absolute;
	display:inline;
	background: #4B4B4B;
	border-radius:50px;
	border: 2px solid #FFFFFF;
	color:#FFFFFF;
	width:180px;
	height: 48px;
	font-family: Roboto;
	font-size: 16px;
	line-height: 14px;
	text-align: center;
	top:54px;
	right:149px;
}