.pricing-2{
	width: 1440px;
	height: 680px;
	margin:0 auto ;
	display: inline-block;
	background: #4B4B4B;
}
.pricing-2>p{
	font-size: 44px;
	line-height: 48px;
	color: #FFFFFF;
	letter-spacing: -0.0363636em;
	/* display:inline-block; */
}
.pricing-2 .container-item{
	display:flex;
	justify-content: center;
}
.pricing-2 .container-item .item{
	width: 360px;
	height: 396px;
	background: linear-gradient(221.37deg, rgba(255, 255, 255, 0.7) 1.05%, rgba(255, 255, 255, 7e-05) 86.93%);
	background-blend-mode: soft-light;
	border-radius: 8px;
	margin: 15px;
	display:inline-block;
	text-align: center;
}