.team-1{
	width: 1440px;
	height: 590px;
	left: 0px;
	top: 926px;
	background: #FFFF;
	/* center, bottom header no spacing */
	margin:0 auto ;
	display: inline-block;
	
}
.team-1 table{

}
.team-1>p{
	font-size: 44px ;
	line-height: 48px;
	text-align: center;
	letter-spacing: -0.0363636em;
	color: #4B4B4B;
}
.team-1 img{
	/* border: 1px solid #AFAFAF;
	box-sizing: border-box; */
	float:right;
	width: 80px;
	height: 80px;
}
.team-1 div{
	float: left;
	margin:0 0 15px 30px;
}
.team-1 .name, .team-1 .job{
	width: 213px;
	height: 26px;
	line-height: 24px;
	font-size: 18px;
	color: #4B4B4B;
	margin:0px;
}
.team-1  .content{
	width: 261px;
	height: 72px;
	line-height: 24px;
	font-size: 16px;
	color: #4B4B4B;
}